.auth__form {
	border: 1px solid #dedede;
	width: 30%;
	margin: 120px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.child-form {
	margin: 10px 10px;
}
.input__form {
	margin: 6px 0px;
	width: 100%;
	border-radius: 6px;
	border: 1px solid #bebebe;
	padding: 6px 12px;
}
.button__auth {
	background-color: #037efc;
	color: white;
	border: none;
	width: 50%;
	margin: 8px 0px;
	display: flex;
	justify-content: center;
	padding: 8px 8px;
	border-radius: 6px;
}
.auth__link {
	text-align: center;
	text-decoration: none !important;
	color: #037efc;
	border: none;
}
